html,
body {
  font-family: 'Maven Pro', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 15px;
}

li {
  font-family: 'Maven Pro', sans-serif;
  padding: 20px 0 10px 30px;
  display: list-item;
}

li:hover {
  background-color: #7D7D7D;
  color: white;
}

h1 {
  color: #eeeeee;
  background-color: #777777;
  font-size: 22px;
  text-align: center;
}

h1:hover {
  color: #444444;
}


#map {
  height: 100%;
  width: 100%;
}

.search-bar {
  margin-left: 15px;
  top: 10px;
  left: 50px;
  float: right;
}

.search {
  z-index: 1;
  position: fixed;
  left: 25px;
  top: 50px;
  height: 35px;
  width: 215px;
}


.border {
  width: 280px;
  top: 1px;
  margin-left: 15px;
  padding-right: 10px;
  border-radius: 10px;
  text-align: center;
}

.list-view {
  display: block;
  position: fixed;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  top: 90px;
  z-index: 2;
  float: left;
  left: 30px;
  min-width: 200px;
  overflow: auto;
  padding: 5px;
  margin: 2px 10px 0;
  border: 1px solid #ccc;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.list-view li {
  padding: 4px;
}

@media only screen and (max-width: 650px) {
  .list-view {
    max-height: 70px;
    top: 65px;
    font-size: 12px:
  }
}

@media only screen and (max-width: 650px) {
  .search-form {
    max-height: 10px;
  }
}
